<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <h1><%= @section.name %></h1>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.css" media="screen" title="no title" charset="utf-8">
    <style media="screen">
      .col-sm-2 {
        padding-left: 15px;
        padding-right: 15px;
      }
      .bookmark .btn {
        margin: 10px 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <section class="row topic">
        <% @section.students.each do |student| %>
        <div class="col-sm-2 text-center bookmark">
          <img class="img-responsive" src="http://placehold.it/750x750">
          <%= render partial: 'points/point', locals: { student: student } %>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                <%= link_to student.name, section_student_path(@section, student) %>
              </h4>
            </div>
          </div>
        </div>
        <% end %>
      </section>
      <div class="row">
        <div class="col-md-2">
          <%= link_to "Add New Student", new_section_student_path(@section), class: 'btn btn-success' %>
        </div>
        <div class=col-md-2">
          <%= link_to "Delete Class", @section, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this class? All student data will be removed!' } %>
        </div>
        <br>
        </div>
      </div>
  </body>
</html>
